# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/assets/images/products/books/book-luv2code-1000.png
src/assets/images/products/books/book-luv2code-1001.png
src/assets/images/products/books/book-luv2code-1002.png
src/assets/images/products/books/book-luv2code-1003.png
src/assets/images/products/books/book-luv2code-1004.png
src/assets/images/products/books/book-luv2code-1005.png
src/assets/images/products/books/book-luv2code-1006.png
src/assets/images/products/books/book-luv2code-1007.png
src/assets/images/products/books/book-luv2code-1008.png
src/assets/images/products/books/book-luv2code-1009.png
src/assets/images/products/books/book-luv2code-1010.png
src/assets/images/products/books/book-luv2code-1011.png
src/assets/images/products/books/book-luv2code-1012.png
src/assets/images/products/books/book-luv2code-1013.png
src/assets/images/products/books/book-luv2code-1014.png
src/assets/images/products/books/book-luv2code-1015.png
src/assets/images/products/books/book-luv2code-1016.png
src/assets/images/products/books/book-luv2code-1017.png
src/assets/images/products/books/book-luv2code-1018.png
src/assets/images/products/books/book-luv2code-1019.png
src/assets/images/products/books/book-luv2code-1020.png
src/assets/images/products/books/book-luv2code-1021.png
src/assets/images/products/books/book-luv2code-1022.png
src/assets/images/products/books/book-luv2code-1023.png
src/assets/images/products/books/book-luv2code-1024.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1000.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1001.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1002.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1003.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1004.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1005.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1006.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1007.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1008.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1009.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1010.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1011.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1012.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1013.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1014.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1015.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1016.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1017.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1018.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1019.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1020.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1021.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1022.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1023.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1024.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1000.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1001.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1002.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1003.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1004.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1005.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1006.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1007.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1008.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1009.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1010.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1011.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1012.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1013.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1014.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1015.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1016.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1017.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1018.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1019.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1020.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1021.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1022.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1023.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1024.png
src/assets/images/products/mousepads/mousepad-luv2code-1000.png
src/assets/images/products/mousepads/mousepad-luv2code-1001.png
src/assets/images/products/mousepads/mousepad-luv2code-1002.png
src/assets/images/products/mousepads/mousepad-luv2code-1003.png
src/assets/images/products/mousepads/mousepad-luv2code-1004.png
src/assets/images/products/mousepads/mousepad-luv2code-1005.png
src/assets/images/products/mousepads/mousepad-luv2code-1006.png
src/assets/images/products/mousepads/mousepad-luv2code-1007.png
src/assets/images/products/mousepads/mousepad-luv2code-1008.png
src/assets/images/products/mousepads/mousepad-luv2code-1009.png
src/assets/images/products/mousepads/mousepad-luv2code-1010.png
src/assets/images/products/mousepads/mousepad-luv2code-1011.png
src/assets/images/products/mousepads/mousepad-luv2code-1012.png
src/assets/images/products/mousepads/mousepad-luv2code-1013.png
src/assets/images/products/mousepads/mousepad-luv2code-1014.png
src/assets/images/products/mousepads/mousepad-luv2code-1015.png
src/assets/images/products/mousepads/mousepad-luv2code-1016.png
src/assets/images/products/mousepads/mousepad-luv2code-1017.png
src/assets/images/products/mousepads/mousepad-luv2code-1018.png
src/assets/images/products/mousepads/mousepad-luv2code-1019.png
src/assets/images/products/mousepads/mousepad-luv2code-1020.png
src/assets/images/products/mousepads/mousepad-luv2code-1021.png
src/assets/images/products/mousepads/mousepad-luv2code-1022.png
src/assets/images/products/mousepads/mousepad-luv2code-1023.png
src/assets/images/products/mousepads/mousepad-luv2code-1024.png
src/assets/images/products/._placeholder.png
src/assets/images/logo.png
src/assets/images/._products
src/assets/images/._.DS_Store
tsconfig.spec.json
tsconfig.app.json
package.json
package-lock.json
angular.json
